<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="shortcut icon" href="{% static 'img/power-cord.png' %}" type="image/png"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <!--
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        -->
        <!-- А что, если jquery из статика-->
        
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <title>{% block title %} {% endblock %}</title>
        {% block head %} {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="/" class="navbar-brand" style="font-size: 2rem;"> <span class="text-success">ener</span>go</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        {% block main_tab %}<li class="nav-item"><a class="nav-link" href="/"> Главная </a></li>{% endblock %}
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                {% block add_sharing_tab %}<li class="nav-item"><a class="nav-link" href="{% url 'add_sharing' %}"> Добавить точку </a></li> {% endblock %}
                            {% endif %}
                            {% block account_tab %}<li class="nav-item"><a class="nav-link" href="{% url 'account' %}"> {{ user.username }} </a></li>{% endblock %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}?next=/"> Выйти </a></li>
                        {% else %}
                            {% block login_tab %}<li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> Войти </a></li>{% endblock %}
                            {% block reg_tab %}<li class="nav-item"><a class="nav-link" href="/accounts/signup"> Зарегистрироваться </a></li>{% endblock %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block br %} <br> {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            <footer class="my-3 pt-3 text-muted text-center text-small">
                <img src="{% static 'img/energo-full-t.png' %}" alt="Фото" style="max-width: 10%;">
                <p class="mb-1">&copy; 2019 Energo </p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{% url 'contacts' %}"> Авторы </a></li>
                </ul>
            </footer>
        {% endblock %}
    </body>
</html>