{% extends "base.html" %}

{% block title %} Вам сюда нельзя! {% endblock %}

{% block content %}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"> Доступ запрещен! </h4>
            <p>
                Эта страница доступна только супер-пупер пользователям. Возможно, вы когда-нибудь узнаете, кто это! Кто знает, может быть когда-нибудь и Вы будете админом нашего сайта? Так что просто идите и создавайте интересные опросы.
            </p>
          <hr>
          <p class="mb-0"> В любом случае, Вы всегда можете написать в поддержку и поругаться на нас! </p>
        </div>
    </div>
{% endblock %}