{% extends "base.html" %}

{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=075bb3b0-b81f-467f-bd2f-9eb347ae8f1a&lang=ru_RU" type="text/javascript"></script>
{% endblock %}

{% block title %} Главная {% endblock %}
{% block main_tab %} <li class="nav-item active"><a class="nav-link" href="/"> Главная </a></li> {% endblock %}

{% block content %}
    <style>
        body, html{
            width: 100%;
            height: 85%;
        }
    </style>
    {% block br %} {% endblock %}

    {% if show_notification %}
    <div class="alert alert-primary" role="alert">
        Да ты поторопись! У нас сейчас обед, <a href="{% url 'pending' %}" class="alert-link">котлетки</a>!
    </div>
    {% endif %}
    <div id="YMapsID" style="height: 100%; width: 100%;"></div>

    {#  На релиз надо спрятать весь скрипт в один файл  #}
    <script>
        var myMap;
        ymaps.ready(function () {
            myMap = new ymaps.Map("YMapsID", {
                center: [55.76, 37.64],
                zoom: 9,
                controls: ['searchControl', 'routeButtonControl', 'geolocationControl', 'fullscreenControl', 'zoomControl']
            });

            var search = myMap.controls.get('searchControl');
            search.events.add("resultselect", function (result) {
                console.log(search.getResultsArray()[result.get('index')].geometry.getCoordinates())
                console.log('request: ' + search.getRequestString());
           });

            {% for i in sharings %}
                var myGeoObject = new ymaps.Placemark([{{ i.crds_lot }}, {{ i.crds_lat }}],
                    {
                        balloonContent:
                            {% if user.is_authenticated %}
                                '<div class="card">\n' +
                                '    <div class="card-body">\n' +
                                        '<h6 class="card-title"><span class="text-secondary"><a href="{% url 'share_page' pk=i.id %}"> {{ i.address }} </a></h6>\n' +
                                    {% if i.free_pbs <= 0 %}
                                    '    <h4 class="card-title"><span class="text-secondary"> Недоступно </h4>\n' +
                                    {% endif %}
                                    {% if i.free_pbs > 0 %}
                                '        <a href="{% url 'ordering' pk=i.id %}" class="btn btn-primary mb-1 btn-lg btn-block"> Получить Powerbank </a>\n' +
                                    {% endif %}
                                    {% if user.is_superuser %}
                                '        <a href="#" class="btn btn-success mb-1 btn-sm btn-block"> Изменить точку </a>\n' +
                                    {% endif %}
                                    '</div>\n' +
                                '</div>'
                            {% else %}
                                '<div class="card">\n' +
                                '    <div class="card-body">\n' +
                                '        <h4 class="card-title"> Вам нужно сначала войти на сайт! </h4>\n' +
                                '        <a href="{% url 'login' %}" class="btn btn-primary"> Войти </a>\n' +
                                '    </div>\n' +
                                '</div>'
                            {% endif %}
                    }, {
                        iconLayout: 'default#image',
                        {% load static %}
                        {% if i.free_pbs > 0 %}
                        iconImageHref: '{% static 'img/energo-point-t.png' %}'
                        {% else %}
                        iconImageHref: '{% static 'img/energo-point-u-t.png' %}'
                        {% endif %}
                    });
                myMap.geoObjects.add(myGeoObject);
            {% endfor %}
        });
    </script>
    {% load static %}
    <script src="{% static 'js/locationUser.js' %}"></script>
{% endblock %}