{% extends "base.html" %}

{% block title %} Смена пароля {% endblock %}

{% block content %}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="{% url 'account' %}"> Мой профиль </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'change_name' %}"> Изменить имя </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'change_email' %}"> Изменить почту </a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'change_password' %}"> Изменить пароль </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'change_photo' %}"> Изменить аватарку </a></li>
        </ul>
        <hr>

        <div class="row">
            {% include 'edit_user/infoUser.html' %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center"> Смена пароля </h2>
                        {% if success_text %}
                            <p class="text-center text-success">
                                {{ success_text }}
                            </p>
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="input3"> Старый пароль </label>
                                <input type="password" name="old_password" id="input3" class="form-control" placeholder="Старый пароль">
                                {% for error in form.errors.password1 %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="input4"> Придумайте пароль </label>
                                <input type="password" name="new_password1" id="input4" class="form-control" placeholder="Ваш пароль">
                                {% for error in form.errors.password1 %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="input5"> Подтвердите пароль </label>
                                <input type="password" name="new_password2" id="input5" class="form-control" placeholder="Подтвердите пароль">
                                {% for error in form.errors.password2 %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-success"> Сменить пароль</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}