{% extends "base.html" %}

{% block title %} Сессия {% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center"> Сессия завершена </h2>
                <p class="text-center text-monospace">
                    <strong>Начальная точка:</strong> {{ start }}
                    <br>
                    <strong>Конченая точка:</strong> {{ end }}
                    <br>
                    <strong>Длительность сессии:</strong> {{ duration }} минут
                    <br>
                    <strong>Подписка:</strong> {{ payment_plan }}   
                </p>

                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <a class="btn btn-primary btn-lg btn-block" href="/">На главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}