{% extends "base.html" %}

{% block title %} Бронирование {% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center"> Вы забронировали Powerbank </h2>
                <p class="text-center">
                    До окончания бронирования: {{ remaining }}
                </p>
                <a class="btn btn-primary text-center" href="{% url 'scan' %}">Забрать Powerbank</a>
                <a class="btn btn-danger text-center" href="{% url 'cancelled' %}">Отменить бронирование</a>
            </div>
        </div>
    </div>
{% endblock %}