{% extends "base.html" %}

{% block title %} Сессия {% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center"> Сессия активна </h2>
                <p class="text-center text-monospace">
                    <strong>К оплате:</strong> {{ to_pay }}₽
                    <br>
                    <strong>Ёмкость бронируемого устройства:</strong> {{ capacity }} mAh
                    <br>
                    <strong>Дата и время начала сессии:</strong> {{ timestamp }}
                    <br>
                    <strong>Тариф:</strong> {{ payment_plan }}
                    <br>
                    <strong>Средство оплаты:</strong> {{ wallet }}      
                </p>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'scan' %}">Отдать Powerbank</a>
            </div>
        </div>
    </div>
{% endblock %}