{% extends "base.html" %}

{% block title %} Ошибка {% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center"> Ваш аккаунт не подтвержден </h2>
                <p class="text-center">
                    Вы не можете пользоваться данной услугой.
                    Причины:
                    {% for i in reasons %}
                        <br> {{ i }}
                    {% endfor %}
                </p>
                
            </div>
        </div>
    </div>
{% endblock %}