{% extends "base.html" %}

{% block title %} Личный кабинет {% endblock %}
{% block account_tab %}<li class="nav-item active"><a class="nav-link" href="{% url 'account' %}"> {{ user.username }} </a></li> {% endblock %}

{% block content %}
    <div class="container">
        <hr>
        <div class="py-3">
            <div class="row">
                <div class="col-md-2 text-center">
                    {% if not profile.photo %}
                        <span class="display-2"><i class="fas fa-users"></i></span>
                        <a href="#" class="btn btn-outline-success"> Поставить фото</a>
                    {% else %}
                        <img src="{{ profile.photo.url }}" alt="Аватарка" class="img-fluid">
                    {% endif %}

                </div>

                <div class="col-md-10">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Привет, {{ user.username }}!</h1>
                            <h4 class="text-secondary"> Ваш профиль заполнен на
                                {{ profile_progress.percentage }}
                                процентов!
                            </h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ profile_progress.percentage }}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <hr>

                            {% if profile.photo != '' %}
                                <a href="#" class="btn btn-primary mb-2"> Изменить фото</a>
                            {% endif %}
                            <a href="{% url 'change_email' %}" class="btn btn-primary mb-2"> Изменить почту </a>
                            <a href="{% url 'change_password' %}" class="btn btn-primary mb-2"> Изменить пароль </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"> Заполните свой профиль </h2>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'account' %}" method="POST" name="change-name">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="input_name"> Введите Ваше настоящее имя</label>
                                        <input type="text" class="form-control" placeholder="Ваше имя" id="input_name">
                                    </div>

                                    <input type="submit" class="btn btn-success" value="Изменить" onclick="change_name()">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'account' %}" method="POST" name="send-photo-with-passport" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <p>
                                        В мерах безопасности нам необходимо Ваше фото с паспортом (должны быть видны и Вы,
                                        и Ваш документ). Вы получите доступ к нашему сервису, как только модераторы одобрят
                                        Вашу заявку. Рассматривается только последняя посылка. Спасибо за понимание!
                                    </p>

                                    <div class="custom-file">
                                        {{ form }}
                                        <label class="custom-file-label" for="customFile" id="customFileLabel"> Выберите фото </label>
                                    </div>

                                    <input name="submit-passport" type="submit" value="Отправить" class="btn btn-success">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                {% if profile.passport %}
                                    <h4 class="card-title"> Проверка паспорта </h4>
                                    <span class="badge badge-info mb-2"> Ваша фотография </span>
                                    {% if profile.passport_status == 'success' %}
                                        <span class="badge badge-success"> Одобрено </span>
                                    {% elif profile.passport_status == 'checking' %}
                                        <span class="badge badge-warning"> Проверяется </span>
                                    {% elif profile.passport_status == 'fail' %}
                                        <span class="badge badge-danger"> Не одобрено - отправьте заново </span>
                                    {% endif %}
                                    <img src="{{ profile.passport.url }}" alt="Фотография с паспортом" class="img-fluid rounded">
                                {% else %}
                                    <h6 class="card-title"> Здесь будет информация о фотографии с паспортом </h6>
                                {% endif %}
                            </div>

                            <div class="col-md-4">
                                <h4 class="card-title"> Заполнение профиля </h4>
                                <ul class="list-group">
                                    {% if profile.name %} <li class="list-group-item list-group-item-success"> Заполнить настоящее имя </li> {% else %} <li class="list-group-item"> Заполнить настоящее имя </li> {% endif %}
                                    {% if profile.photo %} <li class="list-group-item list-group-item-success"> Поставить аватарку </li> {% else %} <li class="list-group-item"> Поставить аватарку </li> {% endif %}
                                    {% if profile.active_mail %} <li class="list-group-item list-group-item-success"> Подтвердить почту </li> {% else %} <li class="list-group-item"> Подтвердить почту </li> {% endif %}

                                    {% if profile.passport_status == 'checking' %}
                                        <li class="list-group-item list-group-item-warning"> Отправить фото с паспортом </li>
                                    {% elif profile.passport_status == 'success' %}
                                        <li class="list-group-item list-group-item-success"> Отправить фото с паспортом </li>
                                    {% elif profile.passport_status == 'fail' %}
                                        <li class="list-group-item list-group-item-danger"> Отправить фото с паспортом </li>
                                    {% else %}
                                        <li class="list-group-item"> Отправить фото с паспортом </li>
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="col-md-5">
                                <h4 class="card-title"> Информация о Вас </h4>
                                <ul class="list-group">
                                    <li class="list-group-item"><span class="text-secondary"> ваш логин </span> <strong>{{ user.username }}</strong></li>
                                    <li class="list-group-item"><span class="text-secondary"> ваша почта </span> <strong>{{ user.email }}</strong></li>
                                    {% if profile.name %}
                                        <li class="list-group-item"><span class="text-secondary"> ваше имя </span> <strong>{{ profile.name }}</strong></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function change_name() {
            $.ajax({
                type: "POST",
                url: "/account/",
                data:{
                    name: document.getElementById("input_name").value,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response)
                }
            })
        }
    </script>
    {% load static %}
    <script src="{% static 'js/changeFileInputLabel.js' %}"></script>
{% endblock %}