{% extends "base.html" %}

{% block reg_tab %}<li class="nav-item active"><a class="nav-link" href="/accounts/signup"> Зарегистрироваться </a></li>{% endblock %}
{% block title %} Смена почты {% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"> Смена email</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-4 form-group">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <label for="input3"> Новый адрес </label>
                            <input type="email" name="new_email1" id="input3" class="form-control" placeholder="Новый email">
                            {% for error in form.errors.new_email1 %}
                                <span class="badge badge-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="input4"> Подтвердите новый адрес </label>
                            <input type="email" name="new_email2" id="input4" class="form-control" placeholder="Подтверждение адреса">
                            {% for error in form.errors.new_email2 %}
                                <span class="badge badge-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success"> Сменить почту</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}