{% extends "base.html" %}

{% block reg_tab %}<li class="nav-item active"><a class="nav-link" href="/accounts/signup"> Зарегистрироваться </a></li>{% endblock %}
{% block title %} Забыли пароль? {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> Придумайте новый пароль </h3>
                        <form method="POST">
                            {% csrf_token %}
                            {% if validlink %}
                             <article class="card-body">
                             <div class="col-md-6 form-group">
                            <label for="input4"> Придумайте пароль </label>
                            <input type="password" name="new_password1" id="new_password1" class="form-control" placeholder="Новый пароль">
                            {% for error in form.errors %}
                                <span class="badge badge-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="input5"> Подтвердите пароль </label>
                            <input type="password" name="new_password2" id="new_password2" class="form-control" placeholder="Подтвердите пароль">
                            {% for error in form.errors %}
                                <span class="badge badge-danger">{{ error }}</span>
                            {% endfor %}
                            <div class="pull-left" style="margin-top:15px">
                                <input type="submit" value="Сменить пароль" class="btn btn-success">
                            </div>
                            {% else %}
                        </div>
                             </article>
                             <article class="card-body">
                             <p>
                             Ссылка некоректна, скорее всего она уже была использована, запросите еще раз
                             </p>
                             </article>
                             {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}