{% extends "base.html" %}

{% block reg_tab %}<li class="nav-item active"><a class="nav-link" href="/accounts/signup"> Зарегистрироваться </a></li>{% endblock %}
{% block title %} Забыли пароль? {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> Забыли пароль? </h3>
                        <p>
                            Мы отослали вам письмо с инструкцией по восстанавлению пароля на указанный email
                        </p>
                        <p>
                            Если вы не получили письмо, то удостоверьтесь в правильности введенного email и проверьте папку спама
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
