{% extends "base.html" %}

{% block reg_tab %}<li class="nav-item active"><a class="nav-link" href="/accounts/signup"> Зарегистрироваться </a></li>{% endblock %}
{% block title %} Забыли пароль? {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> Забыли пароль? </h3>
                        <form method="POST">
                            {% if validlink %}
                             <article class="card-body">
                             <form method="post">
                             {% csrf_token %}
                             {% for field in form %}
                             <p>
                             {{ field.label_tag }}<br>
                             {{ field }}
                             {% for error in field.errors %}
                             <p style="color: red">{{ error }}</p>
                             {% endfor %}
                             {% endfor %}
                             <input type="submit" value="Отправить письмо" class="btn btn-success" />
                             </form>
                             </article>
                             {% else %}
                             <article class="card-body">
                             <p>
                             Ссылка некоректна, скорее всего она уже была использована, запросите еще раз
                             </p>
                             </article>
                             {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}