{% extends "base.html" %}

{% block reg_tab %}<li class="nav-item active"><a class="nav-link" href="/accounts/signup"> Зарегистрироваться </a></li>{% endblock %}
{% block title %} Забыли пароль? {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> Забыли пароль? </h3>
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                            <p>
                            <input type="email" name="email" id="input3" class="form-control" placeholder="Email">
                            {% for error in form.errors %}
                                <span class="badge badge-danger">{{ error }}</span>
                            {% endfor %}
                            {% for error in form.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            </p>
                            {% endfor %}
                            <div class="text-center">
                                <input type="submit" value="Отправить письмо" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}