{% extends "base.html" %}
{% block add_sharing_tab %}<li class="nav-item active"><a class="nav-link" href="{% url 'add_sharing' %}"> Добавить кошелёк </a></li>{% endblock %}
{% block title %} Добавить кошелёк {% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"> Создать новый кошелёк </h2>
                <h6 class="card-subtitle mb-2 text-muted"> Придумайте кошельку какое-нибудь круто название и определитесь с тем, как Вы будете платить за зарядку. </h6>

                    <div class="form-group">
                        <label for="name"><strong> Имя </strong></label>
                        <input type="text" id="name" class="form-control" placeholder="Мой кошелёк" required>
                    </div>
                    <hr>


                    <div class="form-row">
                        <div class="col-md-7">
                            <label for="payment_method"><strong> Тип кошелька </strong></label><br>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <!--
                                    payment_method:
                                    promo - деньги даны в подарок
                                    banking - банковская карта
                                    cash - наличные
                                    crypto - крипта
                                    other - другое (хммм)
                                -->
                                <label class="btn btn-primary">
                                    <input type="radio" value="promo" id="payment_method" autocomplete="off"> Промоакция
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" value="banking" id="payment_method" autocomplete="off"> Банковская карта
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" value="cash" id="payment_method" autocomplete="off"> Наличные
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" value="crypto" id="payment_method" autocomplete="off"> Криптовалюта
                                </label>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="balance">Начальный баланс</label>
                                <input type="number" id="balance" class="form-control"
                                        placeholder="0" required>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-lg btn-success" value="Добавить" onclick="get_info()">
                    </div>
                </div>
            </div>
        </div>

    <script>
        function get_info() {
            var name = $('#name').val();
            var balance = $('#balance').val();
            var payment_method = $('#payment_method').val();
            send(name, balance, payment_method)
        }

        function send(name, balance, payment_method) {
            $.ajax({
                type: "POST",
                url: "/payment/add_wallet",
                data:{
                    name: name,
                    payment_method, payment_method,
                    balance: balance,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    alert(response);
                }
            })
        }
    </script>
{% endblock %}