{% extends "base.html" %}
{% block title %} Добавить тариф {% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"> Добавить новый тариф </h2>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name"><strong> Название тарифа </strong></label>
                            <input type="text" id="name" class="form-control" placeholder="Обычный"
                                   required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="description"><strong>Добавьте короткое описание тарифа</strong></label>
                            <input type="text" id="description" class="form-control"
                                    placeholder="Самый обычный тариф" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="description"><strong>Оплата</strong></label><br>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                  <input type="radio" value="perminute" id="payment_type" autocomplete="off"> Поминутная
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" value="immediate" id="payment_type" autocomplete="off"> Мгновенная
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cost"><strong>Стоимость</strong></label>
                                <input type="number" id="cost" class="form-control" placeholder="40" required>
                            </div>
                        </div>
                    </div>

                    </div>

                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-lg btn-success" value="Добавить" onclick="get_info()">
                    </div>
                </div>
            </div>
        </div>

    <script>
        function get_info() {
            var name = $('#name').val();
            var description = $('#description').val();
            var payment_type = $('#payment_type').val();
            var cost = $('#cost').val();
            send(name, description, payment_type, cost)
        }

        function send(name, description, payment_type, cost) {
            $.ajax({
                type: "POST",
                url: "/payment/add_payment_plan",
                data:{
                    name, name,
                    description: description,
                    payment_type: payment_type,
                    cost: cost,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    alert(response);
                }
            })
        }
    </script>
{% endblock %}