{% extends "base.html" %}
{% block title %} Добавить тариф {% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"> Добавить новую подписку </h2>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name"><strong> Название подписки </strong></label>
                            <input type="text" id="name" class="form-control" placeholder="Обычный"
                                   required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="description"><strong>Добавьте короткое описание подписки</strong></label>
                            <input type="text" id="description" class="form-control"
                                    placeholder="Самый обычный тариф" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cost"><strong>Стоимость</strong></label>
                                <input type="number" id="cost" class="form-control" placeholder="40" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="duration"><strong>Длительность (дни)</strong></label>
                                <input type="number" id="duration" class="form-control" placeholder="7" required>
                            </div>
                        </div>
                    </div>

                    </div>

                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-lg btn-success" value="Добавить" onclick="get_info()">
                    </div>
                </div>
            </div>
        </div>

    <script>
        function get_info() {
            var name = $('#name').val();
            var description = $('#description').val();
            var cost = $('#cost').val();
            var duration = $('#duration').val();
            send(name, description, cost, duration);
        }

        function send(name, description, cost, duration) {
            $.ajax({
                type: "POST",
                url: "/payment/add_payment_plan",
                data:{
                    name: name,
                    description: description,
                    cost: cost,
                    duration: duration,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    alert(response);
                }
            })
        }
    </script>
{% endblock %}