{% extends "base.html" %}

{% block title %} Оформить заказ {% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><span class="text-secondary"> Выбранная точка | </span><a href="{% url 'share_page' key=location.id %}"> {{ location.address }}</a></h2>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-2">
                            <label for="order_type"><strong>Когда вам нужен Powerbank?</strong></label><br>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary">
                                  <input type="radio" value="N" id="order_type" autocomplete="off"> Сейчас
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" value="L" id="order_type" autocomplete="off"> Через 15 минут
                                </label>
                            </div>
                        </div>

                        <div class="form-group col-md-6 mb-2">
                            <label for="myRange"><strong>Какая нужна ёмкость аккумулятора?</strong></label>
                            <input type="range" class="custom-range" id="myRange" min="4000" max="10000" value="50">
                            <p class="text-center">
                                <span id="demo" class="badge badge-info display-3"></span>
                            </p>
                        </div>
                    </div>
                    <hr>

                    <div class="form-row">
                        <div class="form-group mb-2">
                            <label for="pb_capacity"><strong>Тариф</strong></label>
                            {% if request.user.is_superuser %}
                                |
                                <a href="{% url 'add_payment_plan' %}"> Добавить новый тариф </a>
                            {% endif %}
                            <br>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                {% if plans|length == 0 %}
                                    <p>
                                        Вообще нет тарифов! Надо создать.
                                    </p>
                                {% else %}
                                    {% for plan in plans %}
                                        <label class="btn btn-secondary">
                                            <input type="radio" value="{{ plan.id }}" id="plan" autocomplete="off"> {{ plan.name }}
                                            <br>
                                            <small>{{ plan.description }}</small>
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="pb_capacity"><strong>Кошелек</strong></label> |
                            <a href="{% url 'add_wallet' %}"> Создать новый кошелек</a>
                            <br>

                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                {% if wallets|length == 0 %}
                                    <p>
                                        У Вас нет кошельков! Надо создать.
                                    </p>
                                {% else %}
                                    {% for wallet in wallets %}
                                        <label class="btn btn-secondary">
                                            <input type="radio" value="{{ wallet.id }}" id="wallet" autocomplete="off"> {{ wallet.name }}
                                            <br>
                                            <small>{{ wallet.balance }}₽</small>
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-lg btn-success" value="Заказать" onclick="get_info()">
                    </div>
                </div>
            </div>
        </div>

    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value + 'mAh';

        slider.oninput = function() {
          output.innerHTML = this.value + 'mAh';
        };

        function get_info() {
            let pb_capacity_value = $('#myRange').val();
            let pb_capacity = '';

            if (pb_capacity_value <= 4000){
                pb_capacity = 'small'
            } else if (pb_capacity_value > 4000 && pb_capacity_value <= 10000){
                pb_capacity = 'medium'
            } else{
                pb_capacity = 'large'
            }


            let order_type = $('#order_type:checked').val();
            let payment_plan = $('#plan:checked').val();
            let wallet = $('#wallet:checked').val();
            send(order_type, pb_capacity, payment_plan, wallet)
        }

        function send(order_type, pb_capacity, payment_plan, wallet) {
            $.ajax({
                type: "POST",
                url: "/order/{{ pk }}/",
                data:{
                    order_type: order_type,
                    pb_capacity: pb_capacity,
                    payment_plan: payment_plan,
                    wallet: wallet,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response){
                    if (pb_capacity === undefined || order_type === undefined || payment_plan === undefined || wallet === undefined) {
                        alert("Заполните все поля!")
                    }
                    else {
                        if (order_type === "N") {
                            window.location.href = "../../scan"
                        }
                        else if (order_type === "L") {
                            window.location.href = "../../pending"
                        }
                    }
                }
            })
        }
    </script>
{% endblock %}