{% extends "base.html" %}

{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=075bb3b0-b81f-467f-bd2f-9eb347ae8f1a&lang=ru_RU" type="text/javascript"></script>
{% endblock %}

{% block title %} Станция {% endblock %}

{% block content %}
    <style>
        body, html{
            width: 100%;
            height: 60%;
        }
    </style>

    {% block br %} {% endblock %}

    <div id="YMapsID" style="height: 100%; width: 100%;"></div>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4"> Станция #{{ share.id }} - {{ share.title }}</h1>
            <p class="lead">
                Эта станция находится по адресу <em>{{ share.address }}</em>.
            </p>
            {% if amt == 0 %}
            Нет доступных устройств.
            {% elif amt == 1 %}
            Доступно 1 устройство ёмкостью {{ max_cap }} mAh
            {% else %}
            Доступно {{ amt }} устройств ёмкостью от {{ min_cap }} mAh до {{ max_cap }} mAh.
            {% endif %}
            <a class="btn btn-primary" href="{% url 'ordering' pk=share.id %}">Забронировать...</a>

            {% if user.is_superuser %}

                <a class="btn btn-primary" href="{% url 'add_power_bank' %}" role="button"> Добавить информацию о powerbank'ах </a>
            {% endif %}
        </div>
    </div>
    <script>
        ymaps.ready(function(){
            // Указывается идентификатор HTML-элемента.
            var myMap = new ymaps.Map("YMapsID", {
                center: [{{ share.crds_lot }}, {{ share.crds_lat }}],
                zoom: 14
            });

            var myGeoObject = new ymaps.Placemark([{{ share.crds_lot }}, {{ share.crds_lat }}],
                {}, {
                    preset: 'islands#redDotIcon',
                }
            );
            myMap.geoObjects.add(myGeoObject);
        });
    </script>
    {% load static %}
    <script src="{% static 'js/locationUser.js' %}"></script>
{% endblock %}